---
import Section from "@/components/Section.astro";
import SkillCard from "@/components/SkillCard.astro";

import {developerSkills} from "@cv";
const {developmentTechnologies, otherTechnologies, summary} = developerSkills;
const {frontend, backend} = developmentTechnologies;
---


<Section title="Capacidades como desarrollador Full Stack">
    <p>{summary}</p>

    <section>
        <SkillCard 
            title="FrontEnd" 
            skills={frontend} 
        />

        <SkillCard 
            title="BackEnd" 
            skills={backend} 
        />

        <SkillCard 
            title="Otros" 
            skills={otherTechnologies} 
        />
    </section>
</Section>

<style>
    section {
        margin-top: .8rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media print {
        section {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: .6rem;
        }
    }
</style>