---
import Section from "@/components/Section.astro";
import VisitLink from "@/components/VisitLink.astro";
import InstitutoIACC from "@/icons/institution/InstitutoIACC.astro";
import InstitutoComercial from "@/icons/institution/InstitutiComercial.astro"
import AurelioLamas from "@/icons/institution/AurelioLamas.astro";

import {education} from "@cv";

const ICONS = {InstitutoIACC, InstitutoComercial, AurelioLamas};
---

<Section title="Datos Académicos">

    <!-- <AurelioLamas /> -->
    <ul>
        {
            education.map(({institution, url, area, studyType, startDate, endDate, key}) => {
                const Icon = ICONS[key];

                return (
                    <li>
                        <figure>
                            { Icon ? (<Icon />) : <p>Not Found</p> }
                        </figure>
                        <article>
                            <header>
                                <section>
                                    <h3>{institution}</h3>
                                    <h4>{studyType} / {area}</h4>
                                </section>

                                <time>{startDate} - {endDate}</time>
                            </header>

                            <VisitLink url={url} place="institución" />
                        </article>
                    </li>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    li {
        display: flex;
        gap: 1rem;
    }

    figure {
        width: 80px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #045669;
        border-radius: 8px;
        transition: all .3s ease-in-out;
    }

    figure:hover {
        background-color: #C0DFE6;
        scale: 1.04;
    }

    article {
        flex: 1;
    }

    article h4 {
        color: #444;
        font-weight: 600;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap-reverse;
        gap: .6rem;
        flex-grow: 1;
    }

    time {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        color: #045669;
        font-size: .85rem;
        border: 1px solid #045669;
        padding: .3rem;
        border-radius: 8px;
        font-weight: 500;
        transition: all .3s ease-in-out;
    }

    time:hover {
        background-color: #C0DFE6;
        scale: 1.04;
        cursor: pointer;
    }
</style>