---
import Section from "@/components/Section.astro";
import {personalData} from "@cv";

import Email from "@/icons/Email.astro";
import Phone from "@/icons/Phone.astro";
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Location from "@/icons/Location.astro";
import Identification from "@/icons/Identification.astro";

const {name, label, RUT, image, location, email, phone, socialNetwork} = personalData;
const {address, country} = location;

const SOCIAL_ICONS = {GitHub, LinkedIn};

---

<Section>
    <header>
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            
            <section>
                <span>
                    <p>
                        <Identification />
                        {RUT}
                    </p>
    
                    <p>
                        <Location />
                        {address}. {country}
                    </p>
                </span>
    
                <span class="print">
                    <p>
                        <Phone />
                        {phone}
                    </p>
    
                    <p>
                        <Email />
                        {email}
                    </p>
                </span>
            </section>


            <footer class="notPrint">
                {
                    email && (
                        <a 
                            href={`mailto:${email}`}
                            title={`Enviar correo electrónico a ${name} al correo ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Email />
                        </a>
                    )
                }
                {
                    phone && (
                        <a 
                            href={`tel:${phone}`}
                            title={`Contactarse con ${name} al número ${phone}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Phone />
                        </a>
                    )
                }
                {
                    socialNetwork.map(({network, userName, url}) => {
                        const Icon = SOCIAL_ICONS[network];

                        return (
                            <a 
                                href={url}
                                title={`Visitar perfil de ${userName} en ${network}`}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <Icon />
                            </a>
                        )
                    })
                }

            </footer>
        </div>

        <figure>
            <img src={image} alt="Logo empresa">
        </figure>
    </heade>
</Section>


<style>
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap-reverse;
    }

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
        color: #444;
    }

    figure {
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
    }

    section {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    span p {
        display: flex;
        align-items: center;
        gap: .25rem;
        font-size: .90rem;
    }

    footer {
        color: #045669;
        font-size: .65rem;
        display: flex;
        gap: 6px;
        margin-top: 8px;
    }

    footer a {
        color: #045669;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #045669;
        padding: 4px;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        transition: all .3s ease-in-out;
    }

    footer a:hover {
        background-color: #045669;
        color: #C0DFE6;
        scale: 1.2;
    }

    @media (width <= 700px) {
        header {
            flex-direction: column-reverse;
        }

        .info {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        section {
            justify-content: center;
        }

        span {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        footer {
            justify-content: center;
            gap: 2rem;
        }
    }


</style>