---
import 'hotkeypad/reset.css'
import 'hotkeypad/index.css'

import {personalData} from "@cv";
import PopUp from '@/icons/PopUp.astro';

const {socialNetwork, pathCurriculum, name} = personalData;

const SOCIAL_ICONS = {
    GitHub: `<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50">
                <path d="M17.791,46.836C18.502,46.53,19,45.823,19,45v-5.4c0-0.197,0.016-0.402,0.041-0.61C19.027,38.994,19.014,38.997,19,39 c0,0-3,0-3.6,0c-1.5,0-2.8-0.6-3.4-1.8c-0.7-1.3-1-3.5-2.8-4.7C8.9,32.3,9.1,32,9.7,32c0.6,0.1,1.9,0.9,2.7,2c0.9,1.1,1.8,2,3.4,2 c2.487,0,3.82-0.125,4.622-0.555C21.356,34.056,22.649,33,24,33v-0.025c-5.668-0.182-9.289-2.066-10.975-4.975 c-3.665,0.042-6.856,0.405-8.677,0.707c-0.058-0.327-0.108-0.656-0.151-0.987c1.797-0.296,4.843-0.647,8.345-0.714 c-0.112-0.276-0.209-0.559-0.291-0.849c-3.511-0.178-6.541-0.039-8.187,0.097c-0.02-0.332-0.047-0.663-0.051-0.999 c1.649-0.135,4.597-0.27,8.018-0.111c-0.079-0.5-0.13-1.011-0.13-1.543c0-1.7,0.6-3.5,1.7-5c-0.5-1.7-1.2-5.3,0.2-6.6 c2.7,0,4.6,1.3,5.5,2.1C21,13.4,22.9,13,25,13s4,0.4,5.6,1.1c0.9-0.8,2.8-2.1,5.5-2.1c1.5,1.4,0.7,5,0.2,6.6c1.1,1.5,1.7,3.2,1.6,5 c0,0.484-0.045,0.951-0.11,1.409c3.499-0.172,6.527-0.034,8.204,0.102c-0.002,0.337-0.033,0.666-0.051,0.999 c-1.671-0.138-4.775-0.28-8.359-0.089c-0.089,0.336-0.197,0.663-0.325,0.98c3.546,0.046,6.665,0.389,8.548,0.689 c-0.043,0.332-0.093,0.661-0.151,0.987c-1.912-0.306-5.171-0.664-8.879-0.682C35.112,30.873,31.557,32.75,26,32.969V33 c2.6,0,5,3.9,5,6.6V45c0,0.823,0.498,1.53,1.209,1.836C41.37,43.804,48,35.164,48,25C48,12.318,37.683,2,25,2S2,12.318,2,25 C2,35.164,8.63,43.804,17.791,46.836z"></path>
            </svg>`,
    LinkedIn: `<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 128 128">
                <path fill="#0076b2" d="M116 3H12a8.91 8.91 0 0 0-9 8.8v104.42a8.91 8.91 0 0 0 9 8.78h104a8.93 8.93 0 0 0 9-8.81V11.77A8.93 8.93 0 0 0 116 3"/><path fill="#fff" d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 1 1-10.5 10.49a10.5 10.5 0 0 1 10.5-10.49m20.41 29h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z"/>
            </svg>`,
}

const socialInfo = socialNetwork.map(({network, url}) => {
    const icon = SOCIAL_ICONS[network];
    const firstLetter = network[0].toUpperCase();

    return {
        id: network,
        section: "social",
        title: `Visita ${network}`,
        url,
        icon,
        hotkey: `ctrl+${firstLetter}`,
    }
})

const documentInfo = {pathCurriculum, name};
---

<footer id="footer__info" class="notPrint">
    Pulsa <kbd>cmd</kbd> + <kbd>k</kbd> para desplegar la paleta de comandos
</footer>

<dir id="footer__btn" class="notPrint">
    <PopUp />
</dir>

<div id="hotkeypad" data-placeholder="Buscar atajos de teclado..." data-info={JSON.stringify(socialInfo)} data-document={JSON.stringify(documentInfo)}></div>

<script>
    import HotKeyPad from "hotkeypad";

    const hotkeypad = new HotKeyPad();
    const info = hotkeypad.instance.getAttribute("data-info") ?? "[]";
    const pdfDocument = hotkeypad.instance.getAttribute("data-document") ?? "[]";
    const parseInfo = JSON.parse(info);
    const parseDocument = JSON.parse(pdfDocument);

    const data = parseInfo.map((item: any) => {
        return {
            ...item,
            handler: () => {
                window.open(item.url, "_blank")
            }
        }
    });

    hotkeypad.setCommands([
        {
            id: "print",
            title: "Imprimir Curriculum",
            icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 48 48">
                    <path fill="#424242" d="M9 11h30v3H9z"/><path fill="#616161" d="M4 25h40v-7c0-2.2-1.8-4-4-4H8c-2.2 0-4 1.8-4 4z"/><path fill="#424242" d="M8 36h32c2.2 0 4-1.8 4-4v-8H4v8c0 2.2 1.8 4 4 4"/><circle cx="40" cy="18" r="1" fill="#00e676"/><path fill="#90caf9" d="M11 4h26v10H11z"/><path fill="#242424" d="M37.5 31h-27c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h27c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5"/><path fill="#90caf9" d="M11 31h26v11H11z"/><path fill="#42a5f5" d="M11 29h26v2H11z"/><path fill="#1976d2" d="M16 33h17v2H16zm0 4h13v2H16z"/>
                </svg>`,
            hotkey: "ctrl+P",
            section: "Acciones",
            handler: () => {
                window.print();
            }
        },
        {
            id: "download",
            title: "Descargar Curriculum",
            icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 48 48">
                    <g fill="none" stroke="#045669" stroke-linejoin="round" stroke-width="4"><path stroke-linecap="round" d="M25 9H11C9.34315 9 8 10.3431 8 12V33H40V25"/><path fill="#C0DFE6" d="M4 33H44V35C44 38.3137 41.3137 41 38 41H10C6.68629 41 4 38.3137 4 35V33Z"/><path stroke-linecap="round" d="M31 14L36 19L41 14"/><path stroke-linecap="round" d="M36 7L36 19"/></g>
                </svg>`,
            hotkey: "ctrl+D",
            section: "Acciones",
            handler: () => {
                const pdfURL = `${parseDocument.pathCurriculum}`
                const link = document.createElement('a');
                link.href = pdfURL;
                link.download = `Curriculum ${parseDocument.name}.pdf`;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        },
        ...data
    ]);

    const footerButton = document.getElementById("footer__btn");
    footerButton?.addEventListener("click", () => {
        var event = new KeyboardEvent("keydown", {
            key: "k",
            code: "KeyK",
            keyCode: 75,
            which: 75,
            ctrlKey: true,
            altKey: false,
            shiftKey: false,
            metaKey: false
        });

        document.dispatchEvent(event);
    });
</script>

<style>
    #hotkeypad {
        --hotkeypad-bg-item-hover: #C0DFE6;

        div[data-container] {
            overflow: hidden;
            border: 1px solid #C0DFE6;
        }

        footer {
            background-color: #045669;
            justify-content: space-between;
            border-bottom: 8px;
        }

        footer p {
            align-items: center;
            color: #C0DFE6;
        }

        footer p kbd {
            background-color: #C0DFE6;
        }

        div[data-section] h4 {
            padding: .4rem 1.25rem;
            color: #045669;
        }

        @media (max-width: 600px) {
            footer {
                justify-content: center;
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    footer {
        position: fixed;
        background: linear-gradient(#e9e9e9c8, #fff);
        color: #045669;
        bottom: 0;
        width: 100%;
        padding-block: .6rem;
        text-align: center;
        font-size: .9rem;

        view-timeline-name: --revealing;
        view-timeline-axis: block;

        animation: linear 0.3s fadeIn;
        animation-timeline: --revealing;
        animation-range: entry 100% cover 10%;
    }

    kbd {
        background: #C0DFE6;
        border-radius: 4px;
        padding: 2px 6px;
        font-size: .9rem;
    }

    #footer__btn {
        background: #C0DFE6;
        border: 1px solid #eee;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    #footer__btn:hover {
        scale: 1.04;
    }

    @media (min-width: 601px) {
        #footer__info {
            display: block;
        }

        #footer__btn {
            display: none;
        }
    }

    @media (max-width: 600px) {
        #footer__info{
            display: none;
        }

        #footer__btn {
            position: fixed;
        }
    }
</style>